<article class="post">
  <div class="title">
    <div class="meta"><h4>{{title}} </h4><h6>Posted by {{user.username}} on {{format_date created_at}}</h6></div>
    
   <!-- {{vote_count}} {{format_plural "point" vote_count}} by !-->
    
    

   
 
    
    <p>{{post_text}}</p>
  </div>



   
    
  <div class="meta" /post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</div>

  
</article>